:root {
    --physical-color: #2C2F7F;
    --emotional-color: #A8D0E2;
    --intellectual-color: #DA0022;
    --spiritual-color: #C54110;
    --new-category-color: #C7B36A;
    --accent-yellow: #F3F2D0;
  
    --text-color: #333333;
    --background-color: #ffffff;
  }
  

  